extends layouts/main

block content
  .form-contanier
    form(action=routes.editProfile,method="post")
      label(for="avatar") Avatar
      input(type="file", id="avatar", name="avatar" )
      input(type="text", placeholder="Name", name="name")
      input(type="text", placeholder="Email", name= "eamil")        
      input(type="submit", value="Update Profile")
    a.form-container__link(href=routes.changePassword) Change Password
